.App {
}
.App-logo {
  max-width: 200px;
  display: block;
  padding-left: 20px;
  margin-top: 30px;
}

.footer {
  margin: 30px auto;
  text-align: center;
}
.App h1 {
  color: #484848;
  text-align: center;
  font-weight: Bold;
  margin-top: 0;
  padding-top: 0;
}
