.Dictionary {
  margin: 0 auto;
}
.Dictionary section {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px 30px;
  border-radius: 6px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 800px;
}
.Dictionary input {
  width: 300px;
  border: 1.5px solid #9185c0;
  border-radius: 5px;
  padding: 6px 10px;
  font-size: 16px;
  text-align: center;
}
.Dictionary form {
  display: flex;
  justify-content: center;
}
.Dictionary .hint {
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 3px;
}
.part-of-speech {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
  margin: 10px 0;
}
